.liferay-courses-admin-wrapper {
  .courses-fieldset {
    padding: 1rem !important;
    margin-top: 2rem;
    .panel-body {
      padding: 0;
    }
    &__categorization {
      .panel-body {
        a,
        .sheet-subtitle,
        .sheet-subtitle + p {
          display: none !important;
        }
      }
    }
  }
}